{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}Signup{% endblock title_block %}


{% block body_block %}

<h2 class="text-center">Signup page</h2>
<div class="d-flex justify-content-center align-items-center d-block mb-5 pb-5">
    <form action="#" method="POST" class="w-50">

        {{accountForm | crispy}}
        {{userForm | crispy}}
        {% csrf_token %}
        <input type="submit" value="Submit" class="btn btn-primary ">
    </form>
</div>



{% endblock body_block %}